body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 3.5fr .5fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
    background-image: url("../images/bg.png");
}

p {
    font-family: arial, "helvetica neue", helvetica, sans-serif; 
    color: #777777;
    padding: 10px 20px;
}

a {
    font-family: arial, "helvetica neue", helvetica, sans-serif; 
    color: #777777;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-family: georgia, times, "times new roman", serif;
    font-size: 35px;
    padding: 18px;
}

h2 {
    font-family: georgia, times, "times new roman", serif;
    height: 100%;
}

hr {
    background: #cccccc;
    width: 95%;
    height: 1px;
}

label {
    font-family: arial, "helvetica neue", helvetica, sans-serif; 
    color: #777777;
    padding: 2px;
}

main {
    grid-area: main;
    background: #fcfcfc;
    border: 2px solid #dddddd;
    margin: 50px 100px;
}

header {
    display: flex;
    justify-content: space-between; 
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #ececec;
}

footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    background: #666666;
    border-top: 5px solid #4aaaa5;
}

img {
    margin: 10px 20px;
    width: 30%; 
    border-radius: 5px;
}

.color-teal {
    color: #4aaaa5;
}

.color-white {
    color: #fcfcfc;
}

.base-font {
    font-family: arial, "helvetica neue", helvetica, sans-serif; 
    color: #777777;
}

.float-left {
    float: left;
}

.right-menu-border {
    border-right: 1px solid #cccccc;
    margin-right: 5px;
    padding-right: 10px;
}

.nav-items {
    padding: 25px;
}

.my-name {
    margin-left: 50px;
    background: #4aaaa5;
    font-size: 28px;
    color: #fcfcfc;
}

.copyright {
    margin: 18px;
    color: rgba(256, 256, 256, 0.5);
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.portfolio-wrapper img {
    width: 90%;
    margin: 5%;
}

.portfolio-wrapper h2 {
    position: relative;
    background: #4aaaa5;
    color: #fcfcfc;
    opacity: .8;
    text-align: center;
    padding: 5%;
    width: 80%;
    left: 5%;
    bottom: 28%;
}

.contact-form {
    padding: 20px;
}

.btn-success {
    background: #4aaaa5;
}

input[type=text],
input[type="email"],
textarea
{
    width: 95%;
    height: 30px;
    margin: 2px;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 15px;
    outline: 0;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

button {
    background: #4aaaa5;
    font-family: arial, "helvetica neue", helvetica, sans-serif; 
    font-size: 13px;
    color: #fcfcfc;
    padding: 12px 24px;
    margin: 2px;
    outline: 0;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.btn-submit:hover {
    background: #00b233;
    cursor: pointer;
}

input::placeholder {
    font-family: arial, "helvetica neue", helvetica, sans-serif; 
    color: #777777;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 640px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }

    nav {
        align-self: center;
    }

    .my-name {
        margin: 0;
        text-align: center;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 1fr;
    }

    .portfolio-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}